/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* === Palette 
   light brown: #c3b1a6
   ghost brown: #efeae8
   ghost brown (shadow): #efeae8
*/

/* === Sandbox/HUD Library */

/* BRAND */

.hud-brand {
position: fixed;
top: 0;
width: 180px;
height: 179px;
background: #efeae8;
border-bottom: solid 1px #e3d1c6;
border-right: solid 1px #c3b1a6;
}
.hud-brand a {
background: transparent url(i/flower-shaded-150.png) 15px 15px no-repeat;
height: 180px;
display: block;
}

/* NAV */

.hud-nav {
    overflow-x: hidden;
    overflow-y: auto !important;
    top: 180px;
    bottom: 0;
    position: fixed;
    width: 180px;
background: #c3b1a6;
background: #efeae8;
border-right: solid 1px #c3b1a6;
}
.hud-nav ul {
  font-size: 17px;
}
.hud-nav ul > li {
color: #837166;
padding: 15px 0 15px 15px;
border-bottom: solid 1px #e3d1c6;
cursor: default;
}
.hud-nav li:hover,
.hud-nav li.selected {
color: #212121;
background: #fff;
}
.hud-nav li:hover > ul {
background: #efeae8;
}
.hud-nav li > ul {
font-size: 80%;
border-top: solid 1px #e3d1c6;
margin: 15px -15px -15px -15px;
}
.hud-nav li > ul > li {
padding: 10px 0 10px 40px;
}
.hud-nav li > ul > li:last-child {
border-bottom: 0;
}
.hud-nav a {
text-decoration: none;
color: #af2d27;
font-weight: bold;
}
#wrap {
margin-left: 180px;
background: transparent;
padding: 25px;
}

/* Closing HUD */
.hud-closed #hud {
  position: absolute;
  left:-165px;
  transition: left .2s linear;
}
.hud-closed #wrap {
  margin-left: 15px;
  transition: margin-left .2s linear;
}
#hud-visibility {
padding: 4px 12px;
margin: 10px;
border-radius: 15px;
background-color: rgba(0,0,0,.1);
color: #777;
cursor: pointer;
transition: background-color .2s, color .2s;
}
#hud-visibility:hover {
background-color: rgba(0,0,0,.2);
color: #333;
}

/* Local Header*/
.local-header {
padding-bottom: 2em;
}
.local-header h1 {
font-size: 1.6em;
font-weight: bold;
}
.local-header h2 {
font-size: 1.2em;
opacity: .7;
}


/* Layout Tools */
#layout-tools {
  font-family: 'Lucida Grande', serif;
font-size: 12px;
position: absolute;
right: 25px;
top: 25px;
display: block;
background: rgba(139,134,132,.2);
padding: 4px 4px 1px 12px;
}
#photo-toggle, #layout-toggle, #width-alert {
display: inline-block;
}
#photo-toggle,
#layout-toggle {
margin-right: 20px;
}
#layout-tools span {
  border-radius: 15px;
background: #777;
color: #fff;
padding: 1px 10px;
opacity: .7;
margin-left: 5px;
}
#layout-tools span.inactive {
cursor: pointer;
background: #eee;
border-color: #ccc;
color: #000;
opacity: .7;
}
#layout-tools span.inactive:hover {
background-color: #777;
border-color: #555;
color: #fff;
}

.grid-old,
.layout-old .grid-new,
.layout-new .grid-old {
  display: none;
}
.grid-new,
.layout-old .grid-old,
.layout-new .grid-new {
  display: block;
}

/* Fullscreen */
#layout-fullscreen {
  cursor: pointer;
  position: relative;
  top: -2px;
  width: 21px;
  height: 16px;
  display: inline-block;
 
  text-indent: -999em;
  margin-right: 20px;
  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAUCAYAAABiS3YzAAAAYUlEQVQ4y+2UMQrAMAhFc113pxxBt2SLg7uX/B1LhjaFNnTxwVsfHwRLSbagqjAzqOorIwJT9ItxGT07tVa01iAitxIRHkeZGe6+lJkz+meUiJaXFxGMMRARl/bekU9vDwfiFUOMJ1QtBwAAAABJRU5ErkJggg==) no-repeat;  
}
.fullscreen #hud,
.fullscreen .local-header {
  display: none;
}
.fullscreen #wrap {
  margin-left: 0;
  padding: 30px 0 0 0;
}
.fullscreen #layout-tools {
  font-size: 12px;
background: rgba(212,215,212,.98);  
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
border-bottom: solid 1px rgba(0,0,0,.2);
  transition: opacity .25s;
  width: 100%;
  
}
.fullscreen #layout-tools:hover {
opacity: 1;
}

/* Width Alert */
#width-alert {
padding: 1px 20px 3px 10px;
opacity: 1;
color: #af2d27;
font-weight: bold;
}