/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* === Palette 
   light brown: #c3b1a6
   ghost brown: #efeae8
   ghost brown (shadow): #efeae8
*/

/* === Pattern Library HUD */

/* BRAND */

.hud-brand {
position: fixed;
top: 0;
width: 180px;
height: 179px;
background: #efeae8;
border-bottom: solid 1px #e3d1c6;
border-right: solid 1px #c3b1a6;
}
.hud-brand a {
background: transparent url(i/flower-shaded-150.png) 15px 15px no-repeat;
height: 180px;
display: block;
}

/* NAV */

.hud-nav {
    overflow-x: hidden;
    overflow-y: auto !important;
    top: 180px;
    bottom: 0;
    position: fixed;
    width: 180px;
background: #c3b1a6;
background: #efeae8;
border-right: solid 1px #c3b1a6;
}
.hud-nav ul {
	font-size: 17px;
}
.hud-nav ul > li {
color: #837166;
padding: 15px 0 15px 15px;
border-bottom: solid 1px #e3d1c6;
cursor: default;
}
.hud-nav li:hover,
.hud-nav li.selected {
color: #212121;
background: #fff;
}
.hud-nav li:hover > ul {
background: #efeae8;
}
.hud-nav li > ul {
font-size: 80%;
border-top: solid 1px #e3d1c6;
margin: 15px -15px -15px -15px;
}
.hud-nav li > ul > li {
padding: 10px 0 10px 40px;
}
.hud-nav li > ul > li:last-child {
border-bottom: 0;
}
.hud-nav a {
text-decoration: none;
color: #af2d27;
font-weight: bold;
}
#wrap {
margin-left: 180px;
}

/* === Pattern Style Library */

/* = BASE */

body {
color: #212121;
font: 14px/1.4 "Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
margin: 0;
padding: 0;
}

/* = LAYOUT */

#wrap {
padding: 30px;
}

/* = MODULE */

/* = STATE */