/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* === Palette 
   light brown: #c3b1a6
   ghost brown: #efeae8
   ghost brown (shadow): #efeae8
*/

/* === Pattern Library HUD */

/* BRAND */

.hud-brand {
position: fixed;
top: 0;
width: 180px;
height: 179px;
background: #efeae8;
border-bottom: solid 1px #e3d1c6;
border-right: solid 1px #c3b1a6;
}
.hud-brand a {
background: transparent url(i/flower-shaded-150.png) 15px 15px no-repeat;
height: 180px;
display: block;
}

/* NAV */

.hud-nav {
    overflow-x: hidden;
    overflow-y: auto !important;
    top: 180px;
    bottom: 0;
    position: fixed;
    width: 180px;
background: #c3b1a6;
background: #efeae8;
border-right: solid 1px #c3b1a6;
}
.hud-nav ul {
  font-size: 17px;
}
.hud-nav ul > li {
color: #837166;
padding: 15px 0 15px 15px;
border-bottom: solid 1px #e3d1c6;
cursor: default;
}
.hud-nav li:hover,
.hud-nav li.selected {
color: #212121;
background: #fff;
}
.hud-nav li:hover > ul {
background: #efeae8;
}
.hud-nav li > ul {
font-size: 80%;
border-top: solid 1px #e3d1c6;
margin: 15px -15px -15px -15px;
}
.hud-nav li > ul > li {
padding: 10px 0 10px 40px;
}
.hud-nav li > ul > li:last-child {
border-bottom: 0;
}
.hud-nav a {
text-decoration: none;
color: #af2d27;
font-weight: bold;
}
#wrap {
margin-left: 180px;
}

/* Closing HUD */
.hud-closed #hud {
  position: absolute;
  left:-165px;
  transition: left .2s linear;
}
.hud-closed #wrap {
  margin-left: 15px;
  transition: margin-left .2s linear;
}
#hud-visibility {
padding: 4px 12px;
margin: 10px;
border-radius: 15px;
background-color: rgba(0,0,0,.1);
color: #777;
cursor: pointer;
transition: background-color .2s, color .2s;
}
#hud-visibility:hover {
background-color: rgba(0,0,0,.2);
color: #333;
}

/* Local Header*/
.local-header {
padding-bottom: 2em;
}
.local-header h1 {
font-size: 1.6em;
font-weight: bold;
}
.local-header h2 {
font-size: 1.2em;
opacity: .7;
}


/* Layout Tools */
#layout-tools {
font-size: 13px;
position: absolute;
right: 25px;
top: 25px;
display: block;
background: rgba(139,134,132,.2);
padding: 4px 4px 2px 12px;
color: #777;
}
#layout-toggle {
margin-right: 20px;
}
#layout-toggle, #width-alert {
display: inline-block;
}
#layout-toggle span {
background: #333;
color: #fff;
padding: 1px 10px;
opacity: .7;
margin-left: 5px;
}
#layout-toggle span.inactive {
cursor: pointer;
background: #fff;
border-color: #ccc;
color: #000;
opacity: .5;
}
#layout-toggle span.inactive:hover {
background-color: #777;
border-color: #555;
color: #fff;
}

.grid-old,
.layout-old .grid-new,
.layout-new .grid-old {
  display: none;
}
.grid-new,
.layout-old .grid-old,
.layout-new .grid-new {
  display: block;
}

/* Fullscreen */
#layout-fullscreen {
  cursor: pointer;
  position: relative;
  top: -2px;
  width: 21px;
  height: 16px;
  display: inline-block;
  text-indent: -999em;
  margin-right: 10px;
  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAUCAYAAABiS3YzAAAAYUlEQVQ4y+2UMQrAMAhFc113pxxBt2SLg7uX/B1LhjaFNnTxwVsfHwRLSbagqjAzqOorIwJT9ItxGT07tVa01iAitxIRHkeZGe6+lJkz+meUiJaXFxGMMRARl/bekU9vDwfiFUOMJ1QtBwAAAABJRU5ErkJggg==) no-repeat;  
}
.fullscreen #hud,
.fullscreen .local-header {
  display: none;
}
.fullscreen #wrap {
  margin-left: 0;
  padding: 0;
}
.fullscreen #layout-tools {
background: rgba(239,234,232,.95);
  opacity: .5;
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: 0 0 5px rgba(0,0,0,.6);  
  transition: opacity .25s;
}
.fullscreen #layout-tools:hover {
  opacity: 1;
}
/* Width Alert */
#width-alert {
padding: 1px 10px 3px;
opacity: 1;
color: #af2d27;
font-weight: bold;
}

/* === Pattern Style Library */

/* = BASE */

body {
color: #212121;
font: 14px/1.4 "Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
margin: 0;
padding: 0;
}

/* = LAYOUT */

#wrap {
background: rgba(239,234,232,.5);
padding: 25px;
}

/* = MODULE */

/* = STATE */

/* = GRID BOXES */

.grid {
background: #fff;
padding: 20px;
}
.grid * {
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

/* = DEMO SHADING */

/* - FLUID/FLEXIBLE LAYOUT */

.page-content {
  padding: 0 320px 0 180px; /* ---> Sidebar width */
}
.content-wrap,
.sidebar {
position: relative;
float: left;
}
.content-wrap {
width: 100%;
}
.sidebar {
width: 160px;
}
.sidebar-left {
margin-left: -100%;
right: 180px;
  top: 150px;
}
.sidebar-right {
  width: 300px;
left: 20px;
margin-right: -100%;
top: -70px;
}

article, .entry-list-full li, .entry-list-terse, .site-footer, .widget, .site-nav, .site-search {
   background: rgba(239,234,232,.5);
}



/* - HEADER */
.site-search {
display: inline-block;
margin-bottom: 20px;
}
.site-brand {
  float: left;
}
.site-name,.site-logo {text-indent:-999em}
.site-logo {
  background: transparent url(i/logo-mark.png) no-repeat center;
  width: 160px;
  height: 160px;
  margin-bottom: 10px;
}
.site-name {
  display:inline-block;
  background: transparent url(i/logo-words.png);
  background-size:cover;
  width: 160px;
  height: 27px;
  padding-bottom: 20px;
}

/* - SITE NAV */

.site-nav {
padding: 10px;
margin: 0 320px 20px 180px;
}
.site-nav li {
display: inline-block;
margin-right: 5px;
padding: 5px 15px;
background: rgba(255,255,255,1);
}

/* - SIDEBARS */

.widget {
font-size: .9em;
text-align: center;
padding: 10px 0;
margin-bottom: 20px;
}

/* Widgets */
.widget {min-height:100px;}
.widget-ad-tall {min-height:600px;}
.widget-nav {min-height:750px;}
.widget-fbs {min-height:150px}
.widget-ad-house {min-height:250px;}
.widget-facebook {min-height:350px;}

/* - FOOTER */

.site-footer {
clear: both;
text-align: center;
padding: 30px 20px;
width: 100%;
}

/* - MAIN CONTENT */

/* Featured Images */
.featured-image {
color: #aaa;
text-align: center;
}


/* Entry Lists */ 
article, .entry-list-full li, .entry-list-terse {
clear: both;
margin-bottom: 20px;
}
.entry-list-full .featured-image {
width: 40%;
padding-top: 20%; 
margin: 0 10px 10px 0;
float: left;
}

/* Entry */
.entry-title {
font-size: 1.5em;
font-weight: bold;
}
.entry-byline {
font-size: .9em;
}
.entry-header {
margin-bottom: 10px;
}
.entry-featured .featured-image,
.entry-full .featured-image {
margin-bottom: 20px;
}
.featured-image img {
  max-width: 100%;
}

/* - OLD LAYOUT */
.grid-old .page-content { padding: 0 200px 0 200px; }
.grid-old .sidebar-right { width: 180px; }  
.grid-old .site-brand {width: 60%;}
.grid-old .site-search { float: right; width: 38%;}
.grid-old .site-nav { clear: both; margin: 0 0 20px 0; }
