/* = BASE */

body {
color: #212121;
font: 14px/1.4 "Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
margin: 0;
padding: 0;
}

/* = GRID BOXES */

.grid {
background: transparent;
padding: 20px;
}
.grid * {
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

/* - FLUID/FLEXIBLE LAYOUT */

.page-content {
  padding: 0 320px 0 180px; /* ---> Sidebar width */
}
.content-wrap,
.sidebar {
position: relative;
float: left;
}
.content-wrap {
width: 100%;
}
.sidebar {
width: 160px;
}
.sidebar-left {
margin-left: -100%;
right: 180px;
}
.sidebar-right {
  width: 300px;
left: 20px;
margin-right: -100%;
top: -100px;
}

.site-footer, .widget, .site-search {
   background: rgba(239,234,232,.5);
}

/* - GLOBAL */

#wrap { 
 min-width: 768px;
}
b, strong { font-weight: bold; }
i, em { font-style: italic; }

/* - HEADER */
.site-search {
display: inline-block;
margin-bottom: 20px;
}
.site-brand {
  float: left;
}
.site-name,.site-logo {text-indent:-999em}
.site-logo {
  background: transparent url(i/logo-mark.png) no-repeat center;
  background-size: cover;
  float: left;
  position: relative;
  width: 84px;
  height: 84px;
  left: -3px;
  margin-bottom: 15px;
}
.site-name {
  background: transparent url(i/logo-words.png);
  background-size:cover;
  float: left;
  position: relative;
  width: 323px;
  height: 52px;
  top: 19px;
  left: 8px;
}
.site-brand {
  position: relative;
  top: -5px;
}

/* - SITE NAV */

.site-nav {
margin-right: 320px;
float: right;
}
.site-nav li {
display: inline-block;
margin-right: 5px;
padding: 5px 12px;
background: rgba(239,234,232,.5);
cursor: pointer;
}

/* - SIDEBARS */

/* Widgets */

.widget {
text-align: center;
padding: .5em;
margin-bottom: 1em;
}
.widget {min-height:100px;}
.widget-ad-tall {min-height:600px;}
.widget-fbs {min-height:150px}
.widget-ad-house {min-height:250px;}
.widget-facebook {min-height:350px;}

.widget-nav {
  text-align: left;
}
.widget-nav h3 {
  display: none;
}
.widget-nav h4 {
  padding: .5em;
  font-weight: bold;
  background: rgba(255,255,255,.9);
  margin-bottom: .5em;
  cursor: pointer;
}

.widget-nav h4:after {
  font-size: .7em;
  content: "▼";
  float: right;
  opacity: .3;
  position: relative;
  top: 2px;
  right: -2px;
}
.widget-nav h4:hover:after {
  opacity: .8;
}
.widget-nav .active h4 {
  cursor: auto;
}
.widget-nav .active h4:after {
  content: "";
}

.widget-nav ul {
  display:none;
  padding: .5em;
  margin-bottom: .5em;
}
.widget-nav ul li {
  list-style: square inside;
}
.widget-nav .widget-section.active ul {
  display: block;
}
.taxonomy-popular {
  
}
.taxonomy-popular.active h4 {
  display: none;
}


/* - FOOTER */

.site-footer {
clear: both;
text-align: center;
padding: 30px 20px;
width: 100%;
}

/* - MAIN CONTENT */

/* Entry Prototyping "Blocks" */
.subscribe-email,
.related-entries,
.entry-comments,
.recent-entries,
.entry-full .ad {
font-size: .9em;
text-align: center;
padding: 10px 0;
margin-bottom: 20px;
background: rgba(239,234,232,.5);
min-height: 100px;
line-height: 100px;
}
.entry-full .ad { width: 320px; min-height: 250px; margin: 0 auto 20px; }
.recent-entries { min-height: 180px; }
.entry-comments { min-height:500px }

/* Entry Lists */ 
article, .entry-list-full li, .entry-list-terse {
clear: both;
margin-bottom: 20px;
}
.entry-list-full .featured-image {
width: 40%;
padding-top: 20%; 
margin: 0 10px 10px 0;
float: left;
}

/* Entry */

.entry-full article {
  font-size: 1.2em;
}
.entry-title {
font-size: 1.8em;
line-height: 1.1;
font-weight: bold;
}
.entry-byline {
font-size: .9em;
}
.entry-header {
margin-bottom: 10px;
}
.entry-featured .featured-image,
.entry-full .featured-image {
margin-bottom: 20px;
}
.featured-image img {
  max-width: 100%;
}

article.entry p,
article.entry ul,
article.entry h3,
article.entry h4,
article.entry h5 {
  margin-bottom: 1em;
}
article.entry h3,
article.entry h4,
article.entry h5 {
  font-weight: bold;
}

/* Recipe */

.recipe-callout {
  clear:both;
  padding: 20px;
  margin-bottom: 20px;
  border: solid 1px rgba(0,0,0,.1);
  background: rgba(239,234,232,.5);
}
.recipe-callout .recipe-title {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: .5em;
}
.recipe-callout .recipe-intro {
    font-style: italic;
    font-size: .9em;
}
.recipe-meta li {
  display: inline-block;
  margin-right: 2em;
}
.recipe-method img {
  margin-left: 8px;
  border: solid 1px #fff;
  
}

/* - OLD LAYOUT */
.grid-old .page-content { padding: 0 200px 0 200px; }
.grid-old .sidebar-right { width: 180px; }  
.grid-old .site-brand {width: 60%;}
.grid-old .site-search { float: right; width: 38%;}
.grid-old .site-nav { clear: both; margin: 0 0 20px 0; }

/* = MEDIA QUERIES */

@media only screen and (max-width: 950px) {

.site-nav {
  margin-left: 90px;
}
.sidebar-left .widget {
  display: none;
}
.sidebar-left .widget-nav {
  display: block;
}
.page-content {
  padding: 0 320px 0 0; /* ---> Sidebar width */
}
.widget-nav {
  display: block;
  position: absolute;
  min-height: 0;
  height: 29px;
  padding: 4px 10px;
  top: -57px;
  left: 180px;
    border: solid 1px transparent;
}
.widget-nav:hover {
  border: solid 1px #f00;
  background: rgba(255,255,255,1);
    min-width: 400px;
    height: auto;
}

.widget-nav h3 {
  height: 29px;
  display: block;
  cursor: pointer;
}
.widget-nav h3:after {
  font-size: .7em;
  content: "▼";
  opacity: .3;
  position: relative;
  right: -5px;
}
.widget-nav h3:hover:after {
  opacity: .8;
}
.widget-nav .widget-section {
  display: none;
}
.widget-nav:hover .widget-section {
  display: block;
}

}

@media only screen and (min-width: 1040px) {
.fullscreen #wrap {
  max-width: 1040px;
  margin: 0 auto;
}

}
@media only screen and (max-width: 1350px) {
.site-nav {
  float: left;
  margin-bottom: 2em;
}  
.sidebar-right {
  top: -160px;
}
}
@media only screen and (min-width: 1351px) {
.fullscreen #wrap {
  max-width: 1350px;
}
.entry-featured .featured-image,
.entry-full .featured-image {
max-width: 450px;
float: left;
margin: 0 1em 1em 0;
}
.recipe-callout .recipe-method {
  margin-right: 280px;
}
.recipe-callout .recipe-ingredients {
    float: right;
    width: 220px;
    clear: right;
}
}


@media only screen and (max-width: 768px) {   /* ALERT BELOW ACCEPTABLE WIDTH */
.fullscreen #wrap * {
  background-color: #900;
  color: #f00;
}
}